@model EmployeeViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1> are you sure you want to Delete this employee </h1>
<br />
<br />

<form asp-action="Delete">
    <div asp-validation-summary="All"></div>
    <partial name="PartialViews/DetailsDeletePartial"></partial>
    <input type="hidden" asp-for="ImageName"/>

        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>

    </form>